@import 'variables';

.reply {
    color: $Moderate-blue;
    font-weight: 500;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.reply:hover {
    cursor: pointer;
}